<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getBirthYear()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    Человек пока не взял ни одной книги
</div>

<div th:if="${!books.isEmpty()}">
    <hr>
    <b>Книги: </b>
    <div th:each="book : ${books}" th:style="${book.isExpired()}? 'color: red;'"
         th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
        Book
    </div>
</div>

<br>
<hr>

<form th:action="@{/people/{id}/edit(id=${person.getId()})}" th:method="GET">
    <input type="submit" value="Редактировать">
</form>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>