<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${person.getName() + ', ' + person.getBirthYear()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${!books.isEmpty()}">
    <hr>
    <p><b>Книги: </b></p>
    <!-- если у объекта из модели books поле expired == true, то данная строка окрасится в красный цвет -->
    <p th:each="book : ${books}" th:style="${book.isExpired()}? 'color: red;'"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
        Book
    </p>
</div>

<hr>

<form th:action="@{/people/{id}/edit(id=${person.getId()})}" th:method="GET">
    <button type="submit">Редактировать</button>
</form>

<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="DELETE">
    <button type="submit">Удалить</button>
</form>

</body>
</html>