<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<p th:each="book: ${books}">
    <a th:href="@{books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"/>
</p>

<hr>

<p><a href="books/new">Добавить книгу</a></p>

<hr>

<form th:action="@{/books}" th:method="GET">
    <label for="page">Перейти на страницу</label>
    <input id="page" th:name="page" type="text"/>

    <label for="books_per_page">Items per page:</label>
    <select id="books_per_page" th:name="books_per_page">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="">All</option>
    </select>

    <label for="sort_by_year">Сортировка</label>
    <select id="sort_by_year" th:name="sort_by_year">
        <option th:value="${true}">По году издания</option>
        <option th:value="${false}">По дате изменения</option>
    </select>

    <button type="submit">Применить</button>

</form>

</body>
</html>