<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form th:action="@{/books/search}" th:method="GET">

    <label for="search">Введите поисковый запрос:</label>
    <input id="search" th:name="title" type="text">

    <br>

    <button type="submit">Искать</button>
</form>

<br>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}" th:text="${'Книг не найдено'}">NOT FOUND</div>
    <div th:each="book : ${books}" th:if="${!books.isEmpty()}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">BOOK</a>

        <br>

        <div th:if="${book.getPerson()}" th:text="${'Книга сейчас у: ' + book.getPerson().getName()}">OWNER</div>
        <div th:if="${book.getPerson() == null}" th:text="${'Книга свободна'}">VACANT</div>
        <hr/>
    </div>
</div>
</body>
</html>